
.container-footer {
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul {
    list-style: none;
   
}
.footer {
    background-color: #F7E6DF;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;

}
.footer-col {
    width: 50%;
  padding: 10px 190px;   
}

.footer-col h4 {
    width: 100%;
    font-size: 22px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    justify-content: center;
}

.footer-col ul li{
    font-size: 19px;
    
}

.footer-col ul li a {
    
    color: gray;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover {
    color: #443D3A;
    padding-left: 5px;
}
.row p {
    text-align: center;
    justify-content: center;
    display: inline-block;
    color: red;
}

@media screen and (max-width: 990px){
    .footer-col {
        width: 100%;
        padding: 10px 2px;
    
        }

     .footer-col h4 {
        text-align: left;
        display: inline-block;
        justify-content: left;
        }
    .footer-col ul li a {
       
        display: inline-block;
        margin-bottom: 10px;
        transition: all 0.3s ease;
        text-align: center;
         }
}

@media screen and (max-width: 400px) {
    .footer-col {
        width: 100%;
        padding: 10px 2px;
    }


.footer-col h4 {
    text-align: left;
    display: inline-block;
    justify-content: left;
}
    .footer-col ul li a {

        color: black;
        
        text-align: center;
        justify-content: center;
    }

}