*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    position: fixed;
    width: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
    
}
a:link {
    text-decoration: none;  
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #338DFF;
}

a:active {
    text-decoration: underline;
}
li {
    list-style-type: none;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
}
.logo {
    margin-left: 1rem;
    
}

.logo h1{
    color: black;
    font-weight: 500;
}


.ul-items{
    display: flex;
    list-style: none;
    align-items: center;
}

.ul-items li {
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;    
}
.ul-items li b{
    color: black;
    font-weight: 500;
}

@media (max-width: 600px){
    nav {
            height: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #F5F5F5;
        }

    .logo {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .logo  h1{
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-left: 34%;
    }
    .nav-links {
      margin-left: 6%;
    }
}
@media (max-width: 450px){
    .logo h1{
        padding-left: 35%;
    }
}

