.header {
    position: fixed;
    width: 100%;
}
a:link {
    text-decoration: none;  
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #338DFF;
}

a:active {
    text-decoration: underline;
}
li {
    list-style-type: none;
}
header {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
}
.logo {
    margin-left: 1rem;
    
}

.logo h1{
    color: black;
    font-weight: 500;
}


.ul-items{
    display: flex;
    list-style: none;
    align-items: center;
}

.ul-items li {
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;    
}
.ul-items li b{
    color: black;
    font-weight: 500;
}




