.container-research {
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(216, 216, 216);
}
.research-div {
    width: 100%;
    margin-bottom: 20px;
}
.research-div h3{
    font-size: 22px;
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 10px;   
}
.research-div p {
    font-size: 18px;
    font-weight: 500;
    color: #545150;
    
}
.prevresearch-div h3 {
    font-size: 22px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 10px;
}

.prevresearch-div {
    margin-bottom: 40px;
    width: 100%;
}

.prevresearch-div p {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #545150;
}





