@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap');

.main-section {
    width: 100%;
    min-height: 60vh;
    background-color: rgb(216, 216, 216);
    font-family: 'Poppins', sans-serif;
    border: 7px solid #F7EBDF;
    overflow: hidden;
}

.container-home {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.texts {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0.5%;
    text-transform: uppercase;
    width: 620px;
    margin-bottom: 100px;
    
}

.texts h1 {
    color: gray;
}

.texts .h1-big {
    font-size: 60px;
    color: rgb(61, 60, 60);
}

.texts p {
    border-top: 2px solid grey;
    color: gray;
    text-transform: lowercase;
}
.texts img {
    clip-path: circle(40.0% at 50% 60%);
    margin-top: 10rem;
    height: 250px;
    width: 250px;
    text-align: center;
}

@media screen and (max-width:1200px) {

    .texts h1 {
        font-size: 15px;
        color: gray;
    }


    .texts .h1-big {
        font-size: 40px;
        color: rgb(61, 60, 60);
    }
    

    .texts img {
        clip-path: circle(40.0% at 50% 60%);
        margin-top: 10rem;
        height: 250px;
        width: 250px;
        text-align: center;
    }
}

@media (max-width:600px) {
    .texts .h1-big {
        font-size: 30px;
        color: rgb(61, 60, 60);
    }

    .texts p {
        border-top: 2px solid grey;
        color: gray;
        text-transform: lowercase;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        display: flex;
    }
}


@media screen and (max-width:400px) {



    .texts h1 {
        font-size: 1px;
        color: gray;
    }

    .texts .h1-big {
        font-size: 15px;
        color: rgb(61, 60, 60);
    }

    .texts p {
        border-top: 2px solid grey;
        color: gray;
        text-transform: lowercase;
        font-size: 8px;
                
                   
    }

}
