.tech {
    background-color: #eaf0ff;
    display: grid;
    justify-content: space-around;
    width: 100%;
}
.tech-header {
    width: 100%;
    display: block;
    padding-top: 10px;
}

.projects {
    
    width: 100%;
    max-width: 1400px;
}
.tech-header h2{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.description {
    width: 50%;
    float: left;
   
}
.description h3{
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-left: 10%;
}

.description p {
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 10px;

}
.description img {
    height: 60%;
    width: 60%;
    box-shadow: 10px 10px 40px 5px gray;
    margin: 5% 25%;
    

}

@media (max-width: 991px){
    .projects{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
 .description {
    padding-left: 0;
    width: 100%;
   
   }
.description h3{
    margin-left: 2%;
}
.description p{
    margin-left: 2%;
    margin-right: 2%;
}
   .description img {
    height: 70%;
    width: 80%;
    margin-left: 10%;
   }
  
}
@media (max-width: 768px){
    .description {
        width: 100%;  
        
    }
    .description img {
        height: 70%;
        width: 80%;
        margin-left: 10%;
    }
}
