.tech {
    background-color: #FEF9E7;
    display: flex;
    justify-content: space-around;
}
.tech-header {
    width: 100%;
    
    text-align: center;
    justify-content: center;
    display: block;
    padding-top: 10px;
}

.tech-header ul li {

    font-size: 20px;
    font-weight: 500;
}